%h2
  .row-fluid
    Statuses:
%table.table.table-striped
  %tr
    %th
      Id
    %th
      Name
  - @statuses.each do |status|
    %tr
      %td
        = status.id
      %td
        = status.name
