.row-fluid
  .text-left.span6
    %h2
      Users:
  .text-right.span6
    = link_to 'New User', new_client_path, class: 'btn btn-info'
= grid(@clients_grid, upper_pagination_panel: true) do |g|
  - g.column name: 'Email', attribute: 'email' do |user|
    - user.email
  - g.column name: 'First Name', attribute: 'firstname' do |user|
    - user.firstname
  - g.column name: 'Last Name', attribute: 'lastname' do |user|
    - user.lastname
  - g.column name: 'Created At' do |user|
    - user.created_at.strftime("%m-%d-%Y EST" )
  - g.column name: 'Role' do |user|
    - select_tag :role, options_for_select(@roles.collect{ |u| [u.name, u.id] }, user.roles.first.id),
                 :user_id => user.id, :onchange => "change_user_role(this);", class: 'span12'
  - g.column do |user|
    - link_to('Show', client_path(user)) + ' ' + link_to('Edit', edit_client_path(user)) + ' ' + link_to('Destroy', client_path(user), method: :delete, data: { confirm: 'Are you sure?' })