%h2
  .row-fluid
    Requests:
%table.table.table-striped
  %tr
    %th
      Id
    %th
      Description
  - @requests.each do |status|
    %tr
      %td
        = status.id
      %td
        = status.description
