.row-fluid
  .text-left.span6
    %h2
      Requests:
  .text-right.span6
    = link_to 'New Request', new_request_path, class: 'btn btn-info'
%br
.row-fluid
  .span12
    %table#requests_list
    #requests_pager

= raw(requests_jqgrid)
