.row-fluid
  .text-left.span6
    %h2
      Requests:
  .text-right.span6
    = link_to 'New Request', new_request_path, class: 'btn btn-info'
= grid(@requests_grid, upper_pagination_panel: true) do |g|
  - g.column name: 'Completed', attribute: 'completed' do |request|
    - request.completed
  - g.column name: 'Description', attribute: 'description' do |request|
    - request.description[0..12] if request.description
  - g.column name: 'Importance', attribute: 'importance' do |request|
    - request.importance
  - g.column name: 'Location', attribute: 'name', model: Location do |request|
    - request.location.name if  request.location
  - g.column name: 'Problem Area', attribute: 'name', model: ProblemArea do |request|
    - request.problem_area.name if  request.problem_area
  - g.column name: 'Status', attribute: 'name', model: Status do |request|
    - request.status.name if  request.status
  - g.column do |request|
    - link_to('Show', request_path(request)) + ' ' + link_to('Edit', edit_request_path(request)) + ' ' + link_to('Destroy', request_path(request), method: :delete, data: { confirm: 'Are you sure?' })

