- if @area.errors.any?
  - @area.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
- url = (@area.id)?problem_area_path(@area):problem_areas_path
- method = (@area.id)? :put : :post
= form_for(@area, :url => url, :method => method, class: 'form-horizontal') do |f|
  .control-group
    .control-label
      Name:
    .controls
      = f.text_field :name, class: 'span6'
  .control-group
    .controls
      = f.submit class: 'btn btn-info'