%h2
  .row-fluid
    .text-left.span8
      Edit ProblemArea
    .text-right.span4
      = link_to 'Back', problem_areas_path, class: 'btn btn-info'
      = link_to 'Show', problem_area_path(@area), class: 'btn'
      = link_to 'Destroy', problem_area_path(@area), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
= render 'form'
