%h2
  .row-fluid
    Problem Areas:
%table.table.table-striped
  %tr
    %th
      Id
    %th
      Name
  - @problem_areas.each do |area|
    %tr
      %td
        = area.id
      %td
        = area.name
