= form_for(@location, class: 'form-horizontal') do |f|
  .control-group
    .control-label
      ID:
    .controls
      = f.number_field :id, class: 'span6'
  .control-group
    .control-label
      Name:
    .controls
      = f.text_area :name, class: 'span6', rows: 4
  .control-group
    .controls
      = f.submit class: 'btn btn-info'