= form_for(@location, class: 'form-horizontal') do |f|
  .control-group
    .control-label
      Name:
    .controls
      = f.text_field :name, class: 'span6', rows: 4
  .control-group
    .controls
      = f.submit class: 'btn btn-info'